
@{
    ViewBag.Title = "XacNhanDonHang";
    
}

<h2>Xác NhậnĐơn Hàng</h2>
<h4>Đơn hàng đã được ghi nhận,
    chúng tôi sẽ liên hệ với bạn trong thời gian sớm nhất
    Cảm ơn!!!</h4>
<p>
    @Html.ActionLink("Về trang chủ", "Index", "Home")
</p>
